<div class="container">
  <h1>Create a cocktail</h1>

  <%= simple_form_for(@cocktail, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>

</div>


